body {
    background-color: #FF946C;
    position: relative;
}
#gameWindow {
    width: 980px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}
.window {
    width: 980px;
    height: 550px;
    position: absolute;
    z-index: 100;
    top: 0;
    margin: 0;
    overflow: hidden;
}


#text {
    position:relative;
}
#startWindow h1 {
    position:absolute;
    font-size: 7em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    z-index: 990;
    line-height: 80%;
    margin: 70px 30px 0px 450px;
}
#rulesWindow {
    background-color: #FF946C;
    visibility: hidden;/*do this property for the rulesWindow, loseWindow and the winWindow*/
}



#loseWindow {
    background-color: #FFDD84;
    visibility: hidden;/*do this property for the rulesWindow, loseWindow and the winWindow*/
}
#loseWindow h1 {
    position:absolute;
    font-size: 7em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    z-index: 980;
    line-height: 90%;
    left: 100px;
    top: 125px;
}

#winWindow {
    background-color: #B5E6D2;
    visibility: hidden;/*do this property for the rulesWindow, loseWindow and the winWindow*/
}