body {
    background-color: #FF946C;
    position: relative;
}
#gameWindow {
    width: 980px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}
.window {
    width: 980px;
    height: 550px;
    position: absolute;
    z-index: 100;
    top: 0;
    margin: 0;
    overflow: hidden;
}


#text {
    position:relative;
}
#startWindow h1 {
    position:absolute;
    font-size: 7em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    z-index: 990;
    line-height: 80%;
    margin: 70px 30px 0px 450px;
}
#rulesWindow {
    background-color: #FF946C;
    visibility: hidden;/*do this property for the rulesWindow, loseWindow and the winWindow*/
}



#loseWindow {
    background-color: #FFDD84;
    visibility: hidden;/*do this property for the rulesWindow, loseWindow and the winWindow*/
}
#loseWindow h1 {
    position:absolute;
    font-size: 7em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    z-index: 980;
    line-height: 90%;
    left: 100px;
    top: 125px;
}

#winWindow {
    background-color: #B5E6D2;
    visibility: hidden;/*do this property for the rulesWindow, loseWindow and the winWindow*/
}

#rulesStart {
    background-color: #FFB8C3;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    width: 200px;
    position:absolute;
    display: inline-block;
    left: 700px;
    top: 270px;
    z-index: 995;
}
#playStart {
    background-color: #FFB8C3;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    width: 150px;
    position:absolute;
    display: inline-block;
    left: 530px;
    top: 270px;
    z-index: 995;
}

#backRules {
    background-color: #FEC3AF;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 80%;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    height: 65px;
    width: 150px;
    position:absolute;
    display: inline-block;
    left: 70px;
    top: 45px;
    z-index: 995;
}

#playRules {
    background-color: #FEC3AF;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 80%;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    height: 50px;
    width: 150px;
    position:absolute;
    display: inline-block;
    left: 475px;
    top: 420px;
    z-index: 995;
}


#startBack1 {
    background-color: #FEE8B2;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 80%;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    height: 65px;
    width: 170px;
    position:absolute;
    display: inline-block;
    left: 235px;
    top: 420px;
    z-index: 995;
}
#playLose1 {
    background-color: #FEE8B2;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 80%;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    height: 65px;
    width: 150px;
    position:absolute;
    display: inline-block;
    left: 70px;
    top: 420px;
    z-index: 995;
}



#startBack2 {
    background-color: #FEE8B2;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 80%;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    height: 65px;
    width: 170px;
    position:absolute;
    display: inline-block;
    left: 235px;
    top: 420px;
    z-index: 995;
}

#playLose2 {
    background-color: #FEE8B2;
    color: #f00;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 80%;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
    border: none;
    padding: 5 20px;
    height: 65px;
    width: 150px;
    position:absolute;
    display: inline-block;
    left: 70px;
    top: 420px;
    z-index: 995;
}




.row {
    visibility: hidden;
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 995;
    top: 30px;
    left: -120px;
}
.block {
    width: 110px;
}

.orderimage {
    width: 100px;
    height: 90px;
}



.rowpastriesmaterial {
    visibility: hidden;
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 995;
    top: 480px;
    left: 0px;
}
.blockpastriesmaterial {
    width: 110px;
    z-index: 999;
}

.orderimagepastriesmaterial{
    width: 100px;
    height: 90px;
}





#pastriesmaterial {
    visibility: hidden;
    position: absolute;
    z-index: 980;
}
#countdown {
    position: absolute;
    border: none;
    padding: .2em;
    float: right;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    top:-35px;
    left:775px;
    color: #FFFFFF;
    z-index: 960;
}
#timer {
    border: none;
    padding: .2em;
    float: right;
    visibility: hidden;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: #FFFFFF;
}

#addMoney {
    position: absolute;
    visibility: hidden;
    top: -35px;
    left: 590px;
    float: right;
    float: top;
    padding: .2em;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-size: 25px;
    font-style: normal;
    color: #FFFFFF;
    z-index: 900;
}
#money {
    margin: 0 0 0 15px;
    float: right;
    float: top;
}


.pinkfrost {
    position: absolute;
    visibility: visible;
    left: 240px;
    top:  270px;
    z-index: 999;
}


#player {
    position: absolute;
    visibility: visible;
    left: 240px;
    top:  270px;
    z-index: 800;
}

#player.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}


#gamewindow {
    background-color: #FEC3AF;
    color: #FFFFFF;
    margin: 0px;
    position:absolute;
    background-image: url(img/game.jpg);
    background-position: center bottom, left top;
    background-repeat: no-repeat;
    width: 980px;
    height: 550px;
    left: 0px;
    top: 0px;
    z-index: 10;
    visibility: hidden;
}